.app {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;

  background-image: url('../../bg.png');
  background-color: #161616;
}

.wrapper {
  @media(max-width: 1200px) {
    width: 800px;
  }

  @media(max-width: 830px) {
    width: 720px;
  }

  @media(max-width: 767px) {
    width: 360px;
  }

  @media(max-width: 360px) {
    width: 320px;
  }
}

.heading {
  margin: 25px;

  font-family: 'Exo2.0', sans-serif;
  font-size: 3.6rem;

  color: white;
  text-align: center;
}
